<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">

	<context-param>
		<param-name>jdbcDriver</param-name>
		<param-value>org.h2.Driver</param-value>
	</context-param>
	<context-param>
		<param-name>jdbcUri</param-name>
		<param-value>jdbc:h2:tcp://localhost/c:/h2db4/cafedb</param-value>
	</context-param>
	<context-param>
		<param-name>dbUser</param-name>
		<param-value>sa</param-value>
	</context-param>
	<context-param>
		<param-name>dbPassword</param-name>
		<param-value>qlip</param-value>
	</context-param>


	<display-name>cafeshop</display-name>


	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>